.myFont {
    font-family: 'Nunito', sans-serif;
}

.myAlign {
    text-align: center
}

.bodyDiv {
    padding-top: 50px
}

.myTitle {
    font-size: 30px
}

.col-centered{
    float: none;
    width: 30%;
    margin: 0 auto;
}

.formcontrol {
    padding-top: 10px;
    padding-bottom: 100px;
}