
.brandName {
    font-family: 'Rubik Mono One', sans-serif;
    color: black;
}

.brandName:hover {
    font-size: 140%;
}

.navStyle {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
}

.navbar-nav span[role=button] {
    padding: 15px;
    display: inline-block;
    line-height: 20px;
  }